<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <table border="1">
            {{#customers}}
            <tr>
                <td>
                    {{name}}
                </td>
            </tr>    
            {{/customers}}
        </table>
    </body>
</html>

